<div class="container-fluid bg" style="background-image: url(assets/img/bg.jpg);">
    <div class="row">
        <div class="col-md-2"></div>
        
        <div class="col-md-4">
            <div class="div" style="background-color: darkgray;">
                <h2 style="text-align: center;">Fill The Form</h2><hr><br>
                <h6> Name : <br><input type="text" style="width: 300px;" [(ngModel)]="name"></h6>
                <h6> Email : <br><input type="text" style="width: 300px;" [(ngModel)]="email"></h6>
                <h6> Contact Number : <br><input type="text" style="width: 300px;" [(ngModel)]="contact"></h6>
                <!-- <h6> Number of Guests : <br><input type="text" style="width: 300px;" [(ngModel)]="guests"></h6> -->
                <h6>Address:<br> <input type="text" style="width: 300px;" [(ngModel)]="date"></h6>
                <h6> City:<br> <input type="text" style="width: 300px;" [(ngModel)]="time"></h6>
                <h6> Message :<br> <input type="text" style="width: 300px;" [(ngModel)]="message"></h6><hr>
                <p style="text-align: center;"><button class="btn">confirm</button></p>
            </div>
        </div>
        <div class="col-md-4 div1">
            <p class="p1">ContactUs</p>
            <h2></h2><br>
            <div class="div" style="background-color:darkgray;">
                <h6>Contact Numbers:</h6>
                <p>985-051-9853</p>
                
                <h6>Emails</h6>
                <p>classic@gmail.com</p>
               <div class="div" style="background-color: lightpink;">
                   <h2>Estone</h2>
                   <p>A guest house is a kind of lodging. 
                       In some parts of the world, guest houses are a type of 
                       inexpensive hotel-like lodging.
                       private home which has been converted for the exclusive use of lodging.
                       In some areas of the world, guest houses are the only kind of accommodation 
                        who have no local relatives to stay with. </p>
               </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div><br><br>
    

