<div class="container-fluid" style="background-color: black;">
  <div class="topnav">
    <h1><span style="color: tomato;">Classic</span> <span style="color: white;"></span></h1>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/contact">Home</a>
    <a routerLink="/contact">ContactUs</a>
    <a routerLink="/contact">About</a>
    <a routerLink="/contact">Menu</a>
  </div><br>
</div>
<app-contact></app-contact>
<div class="container-fluid div">
  <div class="copyright" style="font-size: x-large;">
    &copy; Copyright <strong><span>classic</span></strong>. All Rights Reserved
  </div>
  <div class="credits">

    Designed by <a href="https://Conatctmade.com/">contactMade</a>
  </div>

</div>